.services-button { /* guziki uslug */
    height: 3rem;
    width: 10rem;
    background: #e6dce8;
}
.services-brand-img {
    background: url("../../media/img/contact/contact.jpg");
    height: 70svh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: end;
    justify-content: left;
    display: flex;
}
.services-brand-p {
    color: white;
    font-size: 1.5rem;
    box-shadow: 0px 24px 4px -24px #ffd400;
}
.services-button-container { /* tlo guzikow */
    background: rgba(0,0,0,0.8);
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
.services-button {
border-radius: 10px;
transition: 0.3s;   
background: #e6dce8;
}
.services-button:hover {
    background: #2d5e67;
    transition: 0.3s;
    color: white;
    transform: translateY(-8px);
}
.services-button-2:hover {
    transition: 0.3s;
    transform: translateY(8px) !important;
}
.services-button-active { /* aktywny guzik */
   background: #2d5e67;
   color: white;
}
.services-product-facts { /* karta usługi */
color: white;
align-items: center;
justify-content: center;
display: flex;
}
.services-product-facts-blocks { /*kafelki */
    padding: 0.8rem;
    height: calc(20vh + 10vw);
    background: #2d5e67;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 5px;
    align-items: center;
justify-content: center;
display: flex;
}
.services-product-facts-blocks-p {
    color: white;
     text-shadow: 1px 1px black;
     font-weight: bold;
     font-size: 1.5rem;
     display: inline-block;
     /*border-bottom: 2px solid white;*/
}
.services-product-title { /* nazwa uslugi */

}
.services-img { /*zdjecie uslugi */
    border: 1px solid black;
    border-radius: 10px;
}
.advantage-block-cont {
    height: calc(10vh + 10vw);
}
.advantage-block-cont:nth-child(2) {
    height: calc(15vh + 15vw);
}
.advantage-block {
    background: #407c93;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.flex-align-bottom { /* przesuniecie w dol elementow */
    align-items: end;
    justify-content: center;
    display: flex;
}